*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    background: rgb(236, 239, 241) none repeat scroll 0% 0% ;
    color:rgba(0,0,0,.87);
    margin: 0;
    padding: 0;
    line-height: 1.4em;
    --background-gradient: rgb(255, 255, 255) linear-gradient(to right, rgb(63, 81, 181), rgb(100, 181, 246)) repeat scroll 0% 0%;
}
.show{
    display: block;
}
.hide{
    display: none;
}
.container {
    width: 100%;
    max-width: 1127px;
    margin: 0 auto;
}
a {
    text-decoration: none;
    color: inherit;
    display: inherit;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
  }
  .nav-container {
      position: sticky;
      background-color: #fff;
      width: 100%;
      height: 62px;
      top: 0;
      z-index: 1;
      box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
  }
  .menu {
      height: 100%;
      overflow-y: hidden;

  }
  .navbar{
      display: flex;
      align-items: center;
      justify-content: space-between;
  }
  .navbar-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    overflow-y: hidden;
  }
  .navbar-right {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .menu-item {
      padding: 20px 16px;
      font-size: 14px;
  }
  .menu-item:hover {
      background-color: #f7f7f7;
  }
  .right-items{
      padding: 13px 16px;
      transition: all 1s ease-in-out;
  }
  .button {
      background-color: rgb(24, 198, 131);
      color: #fff;
      border-radius: 1.5em;
      border: none;
      font-weight: 600;
      height: 36px;
      width: 140px;
      box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 15px -3px;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
  }
  .button:hover{
    transform: translateY(-2px);
  }
.stat-section{
    background: var(--background-gradient);
    color: #fff;
    padding: 21px 0 140px;
}
.markets-info{
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}
.markets-item {
    display: flex;
    flex-direction: column;
}
.item-label{
    text-align: center;
    font-size: 1em;
    font-weight: 700;
}
.item-value{
    text-align: center;
    font-size: 1.5em;
}
.table {
    background-color: #fff;
    color: rgba(0, 0, 0, 0.9);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 15px -3px;
    border-spacing: 0;
    border-radius: 5px;
    text-align: right;
    transform: translateY(-100px);
    cursor: pointer;
}
.table-header {
   display: flex;
   justify-content: space-between;
   background: rgb(250, 250, 250) none repeat scroll 0% 0%;
   margin: 0;
   text-align: right;
   border-radius: 5px 5px 0 0;
   color:rgba(0,0,0,.87);
   font-size: 0.9rem;
   font-weight: 300;
}
.table-header-item{
    min-width: 10%;
    padding: 12px 10px;
    color:rgba(0,0,0,.87);
    font-size: 0.9rem;
    font-weight: 300;
}   
.table-header-item:hover{
    color: #000;
    font-weight: bolder;
}
.table-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid rgba(34,36,38,.1) ;
}
.table-item{
    width: 10%;
    padding: 12px 10px;
    font-size: 0.9rem;
    font-weight: 400;
}
.table-item a:hover{
    text-decoration: underline;
}
.table-center-align{
    text-align: center;
}
.table-left-align{
    text-align: left;
}
.coin-sym{
    margin: 0;
    font-size: 0.8rem;
    color: rgba(0, 0, 0, 0.9);
    opacity: 0.4;
}
.status {
    color: rgb(24, 198, 131);
}

.settings-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 99999;
    margin: 0;
    overflow: hidden;
}
.modal-container{
    width: 360px;
    margin: 40px auto;
    color: #fff;
}
.modal-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid rgba(34,36,38,.3);
}
.modal-header-title{
    font-size: 1.3rem;
    font-weight: 700;
}
.modal-header-title::before{
    content: "";
    display: inline-block;
    width: 28px;
    height: 28px;
    background-image: url("./icons/gears-solid.svg");
    background-repeat: no-repeat;
    margin: 0 5px;
}
.modal-content-row{
   display: flex;
   justify-content: space-between;
   padding: 20px; 
   border-bottom: 1px solid rgba(34,36,38,.3);
}
select{
    background: none;
    width: 100%;
    color: #fff;
    border: none;
}
.settings{
    cursor: pointer;
}
.close-button{
    cursor: pointer;
}
.blur{
    filter: blur(5px);
    transition: all .5s ease-in-out;
}




/*.hidden-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.hidden-right{
    display: flex;
    justify-content: space-between;
    text-align: left;   
}
.hidden-left{
    padding: 14px;
    text-align: left;
}
.hidden-left h3{
    font-size: 1.3rem;
    font-weight: 700;
}
.hidden-title{
    color: grey;
    padding-right: 16px;
    font-weight: 700;
    line-height: 1.2rem;
}
.hidden-value{
    font-weight: 700;
    line-height: 1.2rem;
}
.hidden-right-col {
    margin-right: 100px;
}*/















footer{
    background: var(--background-gradient);
    font-size: 1em;
}
.footer-container{
  display: flex;  
}
.footer-row{
    width: 25%;
}
.footer-title{
    color: #fff;
    font-weight: 700;
    margin: 14px 0;
}
.footer-text{
    color: #A8C0EA;
}
.footer-text:hover{
    color: #fff;
}
.footer-row> p{
    color: #A8C0EA;
}
.footer-row>svg{
    fill: #A8C0EA;
    margin-right: 8px; 
}
.footer-row>svg:hover{
    fill: #fff;
}
.appstore-link{
    opacity: 0.5;
}
.appstore-link:hover{
    opacity: 1;
}


